.KartKomentar{
    padding:5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 221, 223);
    margin-bottom: 10px;
    margin-right: 30px;
    position: relative;
}

.UsernameKomentar{
    font-size: medium;
    font-style: italic;
    margin-left: 5px;
    color: grey;
}

.TekstKomentar{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.fa-thumbs-up{
    position: absolute;
    right:0;
    bottom:0;
    margin-bottom: 3px;
    margin-right: 5px;
}
.fa-thumbs-up:hover{
    cursor:pointer;
}