.KarticaVest{
    display: inline-block;
    flex-direction: column;
    width:50%;
    min-height:200px;
    height:fit-content;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-right: 35px;
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 188, 188);
}

.NaslovVest{
    display:flex;
    width:30%;
    height:20%;
    font-size:xx-large;
    margin-bottom:20px;
    margin-left:20px;
}
.TekstVest{
    margin-left:20px;
    padding-bottom:60px;

}
.dugmeStrelica{
    position:absolute;
    right:    0;
    bottom:   0;
    margin-right:10px;
    margin-bottom:10px;
    min-width:50px;
    min-height: 20px;
    background-color: rgb(146, 11, 11);
    color:rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;

}
.fa-solid{
    margin-top: 12px;
    margin-left: 17px;
}
.VestDiv{
    display:flex;
    justify-content: center;
}

.obrisiVestAdmin{
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
    margin-right: 10px;
}

.obrisiVestAdminDugme{
    min-width:20px;
    min-height: 20px;
    background-color: rgb(235, 225, 225);
    color:rgb(116, 12, 12);
    padding: 8px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(121, 30, 30);
    cursor: pointer;
    
}

.obrisiVestAdminDugme:hover{
    background-color: rgb(129, 18, 18);
    color:rgb(255, 252, 252);
    
}
