.NavbarStyle{
    background:linear-gradient(90deg,#63110b 50%, #8d0808 100%);
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 2;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: relative;

}

.Naslov{
    font-family: 'Open Sans', sans-serif;
    font-size:xx-large;
    
}

.dugmiciPrijava{
    position: absolute;
    right:0;
    
}

.odjaviSe
{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #ffffff;
    font-size: 18px;
    color: rgb(15, 15, 15);
    min-width:10vw;
    margin-right: 10px;
    position: absolute;
    right:0;
}

.odjaviSe:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #D0C8CD;
    color: #363031;
    transition: 250ms;
}

.labelaUsername{
    position:absolute;
    left:0;
    margin-left: 100px;
}
.labelaUsername1{
    position:absolute;
    left:0;
    margin-left: 20px;
    cursor:pointer;
}

.AdminOpcije{
    position:absolute;
    margin-left: 1160px;

}
.btnDodajAdmin{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #ffffff;
    font-size: 18px;
    color: rgb(15, 15, 15);
    min-width:100px;
    margin-right: 10px;

}
.btnDodajAdmin:hover{
    background-color: #993d3d;
    color: rgb(252, 247, 247);
    

}
.zvono{
    position:absolute;
    margin-left:1400px;
    background-color: #faf7f7;
    border-radius: 20px;
    width:40px;
    height:40px;
    text-align: center;
    cursor:pointer;
}
.zvonce{
    font-size: x-large;
    padding:7px;
    color:#63110b
    
}